body {
    background-color: #fbfbfb;
    font-family: "Montserrat", Sans-serif;
    color: #223645;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

button {
    border: none;
    background-color: #95c35d;
    padding: 15px 32px;
    text-align: center;
    color: #fbfbfb;
    font-size: large;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}  

#calculator {
    margin: auto;
    width: 70%;
    border: 3px solid #95c35d;
    border-radius: 2em;
}

select {
    font-size: large;
}